
<div class="container">
  <div class="col-md-12 text-center">
    <h2>FIND OUT ABOUT OUR EVENTS AND ACTIVITIES</h2>
  </div>
  <form>
    <div class="row justify-content-around">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput placeholder="Your Name">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button mat-raised-button class="btn btn-primary w-100">SUBSCRIBE</button>
      </div>

    </div>
  </form>
</div>
