<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container">
    <div class="row d-flex justify-content-around">
      <div class="col-md-12 text-center">
        <h2>FIND THE RIGHT RESORT FOR YOU</h2>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="text-center">
            <h3>PLAN YOUR WEDDING</h3>
          </div>
          <img src="assets/images/wedding-events/QR_CardWeb_planyourwedding.jpg" alt="Plan Your Wedding"
               class="card-img">
          <div class="card-body">
            <p>Contact our experts and start planning the most incredible wedding you've ever seen.</p>
            <hr>
            <div class="d-flex justify-content-center">
              <button mat-button>MORE DETAILS</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="text-center">
            <h3>PACKAGES</h3>
          </div>
          <img src="assets/images/wedding-events/QR_CardWeb_Packages.jpg" alt="Packages"
               class="card-img">
          <div class="card-body">
            <p>Find the perfect package for the perfect day; We are sure to have what you are looking for.</p>
            <hr>
            <div class="d-flex justify-content-center">
              <button mat-button>MORE DETAILS</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
