.logo {
  width: 100%;
  cursor: pointer;
}

.nav-link {
  color: #999999;
}

.active {
  color: #1361a0;
}

.top-nav {
  margin-right: 0;
  margin-left: 0;
  height: 5rem;
  border-bottom: 1px solid #cccccc;
}

.bottom-nav {
  height: 3rem;
}

.nav-bar {
  z-index: 200;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
}
