<div class="container">
  <div class="row">
    <div class="col-md-6 about">
      <h1>ABOUT US</h1>
      <p class="text-justify">Welcome to Questro Resorts, pioneering hospitality and leisure experts on the cutting-edge
        of vacation experiences in Mexico.</p>
      <p class="text-justify">Specializing in resort management, vacation ownership, concept design as well as tour and
        travel agent services, it is
        Questro Resorts mission to merge excellence, quality and creativity to provide extraordinary vacation
        experiences that
        can be enjoyed for a day, a week or a lifetime.
      </p>
    </div>
    <div class="col-md-6">
      <div class="award-info">
        <h1>AWARDS</h1>
        <p>Throughout the years, our luxury resorts have been honored with awards that celebrate their excellence in
          service
          and hospitality.
        </p>
        <div class="container-fluid d-flex justify-content-around awards">
          <div class="award">
            <img src="assets/images/awards/4diamantes.png" alt="Four Diamonds">
          </div>
          <div class="award">
            <img src="assets/images/awards/luxury.png" alt="Luxury">
          </div>
          <div class="award">
            <img src="assets/images/awards/lifestyle.png" alt="Lifestyle">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid d-flex justify-content-around my-3">
  <div class="award"><img src="assets/images/awards/giftts.png" alt="Giftts"></div>
  <div class="award"><img src="assets/images/awards/i_preferred.png" alt="I Preferred"></div>
  <div class="award"><img src="assets/images/awards/petfriendly_logo.png" alt="Pet Friendly"></div>
  <div class="award"><img src="assets/images/awards/preferred_family.png" alt="Preferred Family"></div>
  <div class="award"><img src="assets/images/awards/preferred_golf.png" alt="Preferred Golf"></div>
  <div class="award"><img src="assets/images/awards/preferrred_pride.png" alt="Preferred Pride"></div>
  <div class="award"><img src="assets/images/awards/QR_100x100px.png" alt="Apple Vacations"></div>
  <div class="award"><img src="assets/images/awards/tripadvisor.png" alt="Trip Advisor"></div>
</div>
