ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  color: #999999;
}

.card-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.container-fluid {
  padding: 0;
}

.card-img-overlay {
  opacity: 1;
  background-color: rgba(0,0,0,0.6);
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.card-img-overlay:hover {
  opacity: 0;
}

a {
  color: #1361a0;
}

.hotel-name {
  text-align: center !important;
  font-size: 1em;
}

.card-footer {
  border-top: 1px solid #cccccc;
}
