<div class="page">
  <div class="container-fluid banner">
    <img class="img-fluid w-100" src="assets/images/wedding-events/Banner6.jpg" alt="Wedding">
  </div>

  <div class="container mt-5">
    <h1 class="text-center">
      THE PERFECT PLACE, FOR THE PERFECT MOMENT
    </h1>
    <div class="row mt-3">
      <div class="col-lg-6">
        <p class="text-justify">
          Congratulations! We invite you to celebrate the most memorable day of your life in one of our magnificent resorts: the day of your wedding.
        </p>
        <p class="text-justify">
          From the floral arrangements, the delicious menu, the reception for your guests, the decoration, the music and even the atmosphere, are the
          specialties of our experienced team of organizers who will make sure that this special day fulfills everything you
          have ever done. dreamed, from small and intimate to huge and majestic.
        </p>
        <p class="text-justify">
          Questro Resorts has magical resorts located in the most beautiful beaches of Mexico, Cabo San Lucas.
        </p>
        <p><em>Come and live the experience!</em></p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="assets/images/wedding-events/QR_WeddingImg.png" alt="Wedding">
      </div>
    </div>
  </div>
  <app-wedding-cards></app-wedding-cards>
  <div class="container text-center mb-5">
    <h2>DO YOU WANT MORE INFORMATION?</h2>
    <p>For more information, download our Wedding Brochure or contact our Wedding Specialists.</p>
    <div class="row d-flex justify-content-center">
      <div class="col-md-2">
        <button mat-raised-button class="btn btn-primary w-100">CONTACT</button>
      </div>
      <div class="col-md-2">
        <button mat-raised-button class="btn btn-primary w-100">GET A QUOTE</button>
      </div>
      <div class="col-md-2">
        <button mat-raised-button class="btn btn-primary w-100">BROCHURE ONLINE</button>
      </div>
    </div>
  </div>

</div>
