<div class="logo">
  <a routerLink="/">
    <div class="logo-img">
      <img src="/assets/images/QR_Logo.svg"/>
    </div>
  </a>
</div>
<div class="sidebar-wrapper">

  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
        <a routerLink="/admin/dashboard" class="nav-link">
          <i class="material-icons">dashboard</i>
          <p>
            <span class="d-lg-none d-md-block">Dashboard</span>
          </p>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a routerLink="/admin/messages" class="nav-link">
          <i class="material-icons">notifications</i>
          <span class="notification">{{unread}}</span>
          <p>
            <span class="d-lg-none d-md-block">Mensajes</span>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="material-icons">person</i>
          <p>
            <span (click)="signOut()" class="d-lg-none d-md-block">Cerrar Sesión</span>
          </p>
        </a>
      </li>
    </ul>
  </div>

  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>
