
<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <div class="row d-flex justify-content-around">
      <div class="col-lg-12 text-center">
        <h2>YOU NEED VITAMIN SEA</h2>
      </div>

      <div class="col-md-5">
        <div class="card text-white">
          <img src="assets/images/relaxing/QR_CardSpa_CD.jpg" alt="Hotel Casa Dorada" class="card-img">
          <div class="card-img-overlay">
            <h4 class="card-title title">SALTWATER SPA</h4>
            <p class="card-text content text-justify">Discover your beauty in SaltwaterSpa, a holistic center with specialized treatments
              to provide absolute physical and mental well-being.</p>
            <!--<p class="card-text content">Relax the body, rejuvenate the soul and soothe the mind on the shores of Cabo San Lucas. In a-->
            <!--perfect reflection of our exhilarating surroundings, Casa Dorada Los Cabos Resort & Spa has created-->
            <!--the Saltwater Spa — a luxurious retreat drawing on the curative powers of the sea and its most enriching ingredient.-->
            <!--Beautifully appointed spa cabins provide the ideal tranquil setting for your private spa journey, as you replenish-->
            <!--with an array of soothing therapies and treatments.</p>-->

            <hr>
            <div class="d-flex justify-content-center">
              <button mat-button>MORE DETAILS</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card text-white">
          <img src="assets/images/relaxing/QR_CardSpa_CDM.jpg" alt="Hotel Casa del Mar" class="card-img">
          <div class="card-img-overlay">
            <h4 class="card-title title">SUEÑOS DEL MAR SPA & WELLNESS</h4>
            <p class="card-text content text-justify">Exclusive Signature & Prehispanic treatments all, of this in a tranquil setting to enjoy the most relaxing and rejuvenating spa treatments.</p>
            <hr>
            <div class="d-flex justify-content-center">
              <button mat-button>MORE DETAILS</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
