.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border: 2px dashed #f44336;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #f44336;
    color: #dadada !important;
  }
  .file-label {
    font-size: 1.2em;
  }


  p {
    color: #999999;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

img {
  width: 250px
}
